@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100vh;
  width: 100%;
}
body {
  height: 100vh;
  background: #000;
  font-family: 'Neue Machina';
  color: white;
  overflow: hidden;
  width: 100%;
}
h1 {
  font-size: 40px;
  letter-spacing: .03;
  font-weight: bold;
  align-self: flex-end;
}
.wrapper {
  width: 100%;
  padding: 0 10%;
  align-items: center;
  display: flex;
}
.wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 2% 0;
  position: relative;
  width: 90%;
}
.logo {
  width: 100px;
  align-self: flex-start;
  position: absolute;
  z-index: 1;
  padding-top: 50px;
}
.items {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  flex-wrap: nowrap;
  margin-left: 10%;
  /* margin-right: 12%; */
  width: 60%;
  height: 80%;
  align-items: center;
  justify-content: center;
}
.item:hover {
  transform: scale(1.1) rotate(6deg);
  transition: 0.8s ease-in;
  /* animation: 8s ease infinite hanging; */
}
/* @keyframes hanging {
  50% {
    transform: translateY(4%);
  }

} */
.top_items_wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.bottom_items_wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.description_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 80%;
}
.info,
.description {
  padding-bottom: 50px;
  font-size: 16px;
  letter-spacing: .03;
  width: 300px;
  line-height: 120%;
}
.description {
  padding-bottom: 70px;
}
.adress,
.mail,
.phone {
  display: block;
  padding-bottom: 3%;
}
.adress {
  padding-bottom: 6%;
}
.can {
  position: relative;
  display: flex;
  justify-content: center;
}
.can_top {
  position: absolute;
  transition: all 3s ease;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  font-weight: lighter;
}
.collar {
  /* align-self: flex-start; */
  padding-left: 10%;
}

.item.collar {
  position: relative;

}

/* .collar_other {
  display: none;
  position: absolute;
  opacity: 0;
  top: 0;
} */


/*
.collar_other.gold {
  animation: appearhide ease 100ms;
}
.collar_other.eyes {
  animation: appearhide 700ms ease 4s;
}
.collar_other.black {
  animation: appearhide 700ms ease 6s;
}
.collar_other.wat {
  animation: appearhide 700ms ease 8s;
}
.collar_other.red {
  animation: appearhide 700ms ease 10s;
}
.collar_other.gold {
  animation: appearhide 700ms ease 12s;
}

@keyframes appearhide {
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
} */

.boxes {
  position: absolute;
  width: 180px;
  height: 180px;

  /* display: none; */
}


.can,
.main_ball,
.can-top,
.bottle {
  align-self: center;
}
.bottle {
  padding-left: 6%;
}
.wrapper_liquid {
  text-align: center;
  position: absolute;
  z-index: -1;
}
.liquid {
  opacity: 0;
  transform: scale(0);
  width: 120%;
  padding-left: 26%;
  height: auto;
  transition: all 3s ease-in;
}
.liquid_img {
  animation: 80s ease 3s infinite swim;
}
@keyframes swim {
  10% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3) rotate(60deg);
  }
  70% {
    transform: scale(1.2) rotate(90deg);
  }
}
div.item.bottle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ---------------------------BONES--------------------------*/

.bones_wrapper {
  position: absolute;
  display: none;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
}
.area {
    width: 100%;
    height:100vh;
    display: none;
}
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles img{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 5s linear infinite;
    bottom: -150px;
}
.circles img:nth-child(1){
    left: 25%;
    width: 280px;
    height: 280px;
    animation-delay: 0s;
}
.circles img:nth-child(2){
    left: 10%;
    width: 120px;
    height: 120px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles img:nth-child(3){
    left: 70%;
    width: 120px;
    height: 120px;
    animation-delay: 4s;
}
.circles img:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 8s;
}
.circles img:nth-child(5){
    left: 65%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
}
.circles img:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles img:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
}
.circles img:nth-child(8){
    left: 50%;
    width: 225px;
    height: 225px;
    animation-delay: 1s;
    animation-duration: 15s;
}
.circles img:nth-child(9){
    left: 20%;
    width: 215px;
    height: 215px;
    animation-delay: 0s;
    animation-duration: 5s;
}
.circles img:nth-child(10n){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 1s;
}
.circles img:nth-child(10){
    left: 25%;
    animation-delay: 3s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);

    }

    100%{
        transform: translateY(-2000px) rotate(720deg);

    }

}

/* .balls_wrapper {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
.ball {
  position: absolute;
  opacity:  0;
  display: none;
  left: 0;
  animation:  infinite 6s linear rotate;
} */


/* @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */


.ball:hover {
  display: none;
}


@media query (min-width: 4000px) and (max-width: 5200px){
  .can {
    padding-left: 10%;
  }
}


@media (min-width: 2900px) and (max-width: 3999px) {
  .can {
    padding-left: 10%;
  }
}

@media (min-width: 1466px) and (max-width: 2900px) {
  .item {
    transform: scale(1.3);
  }
  .top_items_wrapper {
    width: 90%;
    justify-content: space-between;
    padding-bottom: 16%;
  }
  .bottom_items_wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .can {
    padding-left: 10%;
  }
  .items {
    align-items: flex-end;
  }
}


@media (min-width: 1024px) and (max-width: 1465px) {
  h1 {
    font-size: 34px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 868px) and (max-width: 1024px) {
  .items {
    margin-left: 0;
    width: 90%;
  }
  .top_items_wrapper {
    width: 86%;
    justify-content: space-between;
    padding-bottom: 12%;
  }
  .bottom_items_wrapper {
    width: 86%;
    justify-content: space-between;
  }
  .description_wrapper {
    padding-top: 16%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column-reverse;
    height: 30%;
    width: 100%;
  }
  .item {
    transform: scale(1.4);
  }
  .item:hover {
    transform: scale(1.5);
  }
  .wrapper {
    padding: 0 8%;
  }
  .wrapper2 {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 48px;
    align-self: flex-start;
  }
  .collar img {
    padding-left: 10%;
  }
  .description {
    padding-bottom: 0;
    width: auto;
  }
  .info {
    padding-left: 8%;
    width: auto;
  }
  .description_info {
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 5%;
  }

}


@media (min-width: 650px) and (max-width: 867px) {
  .items {
    margin-left: 0;
    width: 100%;
  }
  .top_items_wrapper {
    width: auto;
    justify-content: space-between;
    padding-bottom: 16%;
  }
  .bottom_items_wrapper {
    width: auto;
    justify-content: space-between;
  }
  .description_wrapper {
    padding-top: 16%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
    height: 30%;
    width: 100%;
  }
  .wrapper2 {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .item {
    transform: scale(1.2);
  }
  .item:hover {
    transform: scale(1.3);
  }
  .wrapper2 {
    flex-direction: column;
  }
  h1 {
    align-self: flex-start;
  }
  .collar img {
    padding-left: 10%;
  }
}

@media (min-width: 375px) and (max-width: 649px) {
  .description_wrapper {
    padding-top: 16%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
    height: 30%;
    width: 100%;
  }
  .logo {
    width: 120px;
  }
  .items {
    flex-direction: row;
  }
  .item {
    transform: scale(1.5);
  }
  .wrapper2 {
    flex-direction: column;
  }
  .wrapper {
    overflow: hidden;
  }
  h1 {
    align-self: flex-start;
  }
}

@media (min-width: 300px) and (max-width: 374px) {
}
